body{
background:linear-gradient(to right,orange,white,green);
}
.alter{
    width:300px;
    height:300px;
    display: flex;
    justify-items:flex-start
    justify-content:center;
    flex-direction:column;
}
h1{
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(198, 50, 243);
}
a{
    color: black;

}

